@model Junko.Domain.Entities.Account.User

<div style="direction: rtl; padding: 20px">
    <h2>@Model.FirstName @Model.LastName عزیز !</h2>
    <p>
        جهت بازیابی حساب کاربری خود روی لینک زیر کلیک کنید
    </p>
    <p>
        <a href="https://localhost:7168/ResetPassword/@Model.EmailActiveCode">بازیابی کلمه عبور</a>
    </p>
</div>