@using Junko.Domain.ViewModels.Common
@model PagingViewModel

<div class="shop_toolbar t_bottom">
    <div class="pagination">
        <ul>
            @if (Model.StartPage < Model.CurrentPage)
            {
                <li class="previous"><a onclick="FillPageId(@(Model.CurrentPage - 1))">قبلی</a></li>
            }
            @for (int i = Model.StartPage; i <= Model.EndPage; i++)
            {
                <li class="@(Model.CurrentPage == i ? "current" : "")"><a onclick="FillPageId(@i)">@i</a></li>
            }
            @if (Model.EndPage > Model.CurrentPage)
            {
                <li class="next"><a onclick="FillPageId(@(Model.CurrentPage + 1))">بعدی</a></li>
            }
        </ul>
    </div>
</div>